<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>Teacher Login</h2>

<form id="loginForm">
    <input type="email" placeholder="Email" id="email" required><br>
    <input type="password" placeholder="Password" id="password" required><br>
    <button type="submit">Login</button>
</form>

<p id="error" style="color:red;"></p>

<script>
    document.getElementById("loginForm").addEventListener("submit", async e => {
        e.preventDefault();

        const res = await fetch("/api/auth/login", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                email: email.value,
                password: password.value
            })
        });

        if (res.ok) {
           window.location.href = "/teacher/dashboard";

        } else {
            document.getElementById("error").innerText = await res.text();
        }
    });
</script>

</body>
</html>
