<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="card">
    <h2>Welcome 👋</h2>

    <p style="text-align:center; font-size:15px; color:#475467;">
        Your assigned tests will appear here.
    </p>

    <form action="/api/auth/logout" method="post" style="margin-top:20px;">
        <button style="background:#ef4444">Logout</button>
    </form>
</div>

</body>
</html>
