<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:replace="fragments/teacher-navbar :: body"></div>

<main>
    <div class="card">
        <h2>Teacher Dashboard</h2>

        <button onclick="location.href='/teacher/students/add'">
            ➕ Add Student
        </button>

        <form action="/api/auth/logout" method="post" style="margin-top:16px;">
            <button style="background:#ef4444">Logout</button>
        </form>
    </div>

</main>
</body>
</html>
